*{
    margin :0;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    
}

/* html{
    font-size: medium;
} */
.main-div{
    width:100vw ;
    min-height: 100vh;
    /* display: grid; */
    place-items: center;
    background-color: aqua;
    font-size: x-large;
}

.inner-div{
    /* width: 40vw; */
    font-style: oblique;
    color: purple;
    font-weight: 400;
}

.inner-div li {
    font-size: 2rem;
    list-style: none;

}
input {
    cursor: pointer;
}

/* #submit{
    font-size: medium;
    color: black;
} */